################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/EGM/v15/.suo
*.dtbcache

EGMProjet/.vs
Test/.vs
ForceSensor/.vs
*.exe
*.cache
*.pdb
*.ide-shm
*.ide-wal
*.ide



